.contacts {
  text-align: center;
  font-size: 24px;
  width: 320px;
  margin: 0 auto;
  min-height: 650px;
  background-image:  url("../../img/bg-triangle-white-footer.svg"), url("../../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 71%, center;
}

.contacts__title {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: @white;
  margin: 0;

}

.contacts__data {
  background-color: @white;
}

.contacts__data b {
  display: block;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 10px;

}

.contacts__call-title {
  margin-top: 0;
}

.contacts__phone,
.contacts__email,
.contacts__address {
  color: @lipstick;
  font-weight: 300;
  text-decoration: none;
}

.contacts__address {
  padding-left: 20px;
  padding-right: 20px;
  font-style: normal;
}

@media (min-width: @tabletwidth) {
  .contacts {
    width: 660px;
    min-height: 1286px; //temp
  }

  .contacts__title {
    color: @dark;
    font-size: 40px;
    font-weight: 300;
  }

  .contacts__call,
  .contacts__write {
    display: inline-block;
  }
}

@media (min-width: @desktopwidth) {
  .contacts {
    min-height: 1573px; //temp
  }
}
