.pricelist {
  display: none;
  width: 320px;
  margin: 0 auto;
  background: url(../../img/bg-triangle-white.svg) no-repeat top @lightGrey;
  padding-top: 100px;
}

.pricelist__table {
 text-align: center;
 width: 120%;
}

.pricelist__head:not(:first-child) {
  background-color: @dark;
}
.pricelist__head {
  color: @white;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  span {
    font-size: 24px;
    font-weight: 300;
 }
}

