.slider__toggle {
  color: transparent;
  border: none;
  font-size: 0;
  margin-right: 8px;
}

.slider__toggle::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bec2c7;
}

.slider__toggle--current::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: @white;
  border: 3px black solid;
  margin-top: -3px;
  margin-left: -3px;
}

@media (min-width: @desktopwidth) {
  .slider__toggle--current::before,
  .slider__toggle::before{
    display: none;
  }

  .slider__toggle {
    font-size: 10px;
    background-color: @white;
    width: 22px;
    height: 42px;
    position: absolute;
  }

  .slider__toggle--left {
    margin-left: -470px;
    margin-top: -182px;
  }

  .slider__toggle--left::after {
    position: absolute;
    content: "";
    transform: rotate(45deg);
    width: 28px;
    height: 28px;
    border-bottom: 2px @dark solid;
    border-left: 2px @dark solid;
    margin-top: -10px;
    margin-left: -7px;
  }

  .slider__toggle--right {
    margin-left: 428px;
    margin-top: -182px;
  }

  .slider__toggle--right::after {
    position: absolute;
    content: "";
    transform: rotate(45deg);
    width: 28px;
    height: 28px;
    border-top: 2px @dark solid;
    border-right: 2px @dark solid;
    margin-top: -10px;
    margin-left: -7px;
  }
}
