.slider__toggle {
  color: transparent;
  outline: none;
  border: none;
  font-size: 0;
  margin-right: 15px;
}

.slider__toggle::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border: 1px red dashed;
  border-radius: 50%;
  background-color: #bec2c7;
}
